
.group {
    position: relative;
    margin-bottom: 30px;
}

input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #D1E8E2;
}
input:focus {
    outline: none;
}
label {
    color: #116466;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.file-label{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: -15px;
    font-size: 14px;
    color: #2C3531;
}
/* active state */
input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #2C3531;
}


/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 320px;
}
.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #2C3531 ;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}
.btn5 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    background-color: #116466;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    color: #cccccc;
}
.btn5:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn5:hover {
    background-color: #178486;
}
.btn5:active {
    transform: scale(0.96);
}
.btn5:disabled {
    background-color: #116466;
    pointer-events: none;
    opacity: 0.65;
    color: #cccccc;
}
/*---------------------*/

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #2C3531 ;
    padding: 10px 20px;
    border-radius: 10px;
    color: #D1E8E2;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
input[type=file]::first-line{
    color: #D1E8E2;
}
input[type=file]::file-selector-button:hover {
    background: #2C3531 ;
}